[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pranavyl
[access "refs/for/refs/*"]
	read = group user/pranavyl
	push = group user/pranavyl
	label-Code-Review = -2..+2 group user/pranavyl
	label-Verified = -1..+1 group user/pranavyl
	rebase = group user/pranavyl
	removeReviewer = group user/pranavyl
	submit = group user/pranavyl
[access "refs/heads/*"]
	read = group user/pranavyl
	create = group user/pranavyl
	push = +force group user/pranavyl
	pushMerge = group user/pranavyl
[access "refs/tags/*"]
	push = group user/pranavyl
	push = +force group user/pranavyl
